:root {
    --second-text: rgba(255, 255, 255, 1);
    --main-text: rgba(33, 33, 33, 1);
    --hover-text: rgba(33, 150, 243, 1);
    --link-text: rgba(117, 117, 117, 1);
    --address-text-op60: rgba(255, 255, 255, 0.6);
    --section: rgba(47, 48, 58, 1);
    --section-team: rgba(245, 244, 250, 1);
    --social-networks: rgba(175, 177, 184, 1);
}

html,
body {
    max-width: 1600px;
    margin: auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* for all */

.link {
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1200px;
    padding: 0 15px;
}


.header {
    background-color: var(--second-text);
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header .container {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--hover-text);
}

.logo-web {
    color: var(--main-text);
}

/* site-nav */

.site-nav {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 0px;
    margin-left: 93px;
    padding: 0px;
    display: flex;
}

.link .item.current {
    color: var(--hover-text);
    position: relative;
}

.item.current::after {
    position: absolute;
    display: block;
    content: " ";
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--hover-text);
    border-radius: 2px;
    opacity: 0;
}

.item.current::after {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link .item:first-child {
    margin-left: 0px;
}

.site-nav .link .item {
    display: block;
    text-decoration: none;
    padding: 32px 0px 32px 0px;
    margin: 0px 50px 0px 50px;
    color: var(--main-text)
}

.site-nav .link:last-child {
    margin-right: 181px;
}

.site-nav .link .item:hover,
.site-nav .link .item:focus {
    color: var(--hover-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* nav-contacts */

.contact {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin: 0px;
    padding: 0px;
    display: flex;    
}

.contact li:first-child {
    padding-right: 50px;
}

.contact .link .item {
    list-style: none;
    text-decoration: none;
    color: var(--link-text);
}

.contact .link .item:hover,
.contact .link .item:focus {
    color: var(--hover-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .link .contacts-icon {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    fill: rgba(117, 117, 117, 1);
}

.contact .link .item:hover .contacts-icon {
    fill: var(--hover-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MAIN! */
/* hero */

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.hero {
    background-color: var(--section);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img.jpg);
    max-width: 1600px;
}

.hero-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text);
    display: inline-block;
    padding-top: 200px;
    padding-bottom: 30px;
    padding-left: 272px;
    padding-right: 272px;
}

.hero-main.container {
    display: block;
    padding-bottom: 200px;
}

.hero-main .button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero-main .button.link {
    display: block;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hover-text);
    color: var(--second-text);
    padding: 10px 32px 10px 32px;
    max-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* features */

.features-title {
    display: none;
}

.features-icons {
    display: flex;
}

.features-icon {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 244, 250, 1);
}

.features-items {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text);
    width: 270px;
}

.features-items .features-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--link-text);
    display: inline ;
}

.features-list.link {
    margin: 0px;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 0px;
    display: flex;
}

.features-items:nth-last-child(n+1) {
    margin-left: 30px;
}

.features-items:first-child {
    margin-left: 0px;
}

.features-item {
    padding-bottom: 10px;
}

/* doing */

.doing-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text);
    padding-bottom: 50px;
}

.doing-list.link {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 94px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
}

.doing-img:nth-last-child(n+1) {
    margin-left: 30px;
}

.doing-img:first-child {
    margin-left: 0px;
}

.doing-img {
    position: relative;
}

.doing-img > .thumb-text {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/* team */

.team {
    background-color: var(--section-team);
}

.team-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text);
    padding-top: 94px;
    padding-bottom: 50px;
}

.team-name {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text);
}

.team-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-text);
}

.team-list.link {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding: 0px 0px 94px 0px;
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-img {
    display: flex;
    align-items: flex-start;
    padding-bottom: 30px;
}

.team-content,
.team-img {
    background-color: #fff;
}

.card .team-name {
    padding-bottom: 10px;
}

.card .team-text {
    padding-bottom: 16px;
}

.card:nth-last-child(n+1) {
    margin-left: 30px;
}

.card:first-child {
    margin-left: 0px;
}

.team-socials {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-bottom: 30px;
}

.team-socials > li:nth-last-child(n+1) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    fill: var(--social-networks);
}

.social-link:hover {
    fill: #fff;
    background-color: var(--hover-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* customers */


.customers-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text);
    padding-top: 94px;
    padding-bottom: 50px;
}

.customers-list.link {
    display: flex;
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 94px;
    justify-content: center;
    align-items: center;
}

.customers-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--social-networks);
    border-radius: 4px;
    margin-left: 30px;
}

.customers-items:first-child {
    margin-left: 0px;
}

.customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    fill: var(--social-networks);
}

.customers-items:hover {
    border: 1px solid var(--hover-text);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
    fill: var(--hover-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */

.footer {
    background-color: var(--section);
}

.all-footer {
    display: flex;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--hover-text);
}

.logo-footer {
    color: var(--second-text);
}

.all-logo-footer {
    padding-top: 60px;
    padding-bottom: 20px;
}

.address {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
}

.address > p {
    padding-bottom: 9px;
}

.address .item.link:last-child {
    display: inline;
    margin-top: 9px;
    margin-bottom: 60px;
}

.address-text {
    color: var(--second-text);
}

.address .item {
    color: var(--link-text);
}

.address .item:hover,
.address .item:focus {
    color: var(--hover-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social {
    justify-content: center;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 100px;
    margin-left: 70px;
}

.social-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text);
    padding-bottom: 20px;
}

.footer-socials {
    list-style: none;
    display: flex;
    margin: 0px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.footer-socials > li:nth-last-child(n+1) {
    margin-right: 10px;
}

.social-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--second-text);
}

.social-link-footer:hover {
    fill: #fff;
    background-color: var(--hover-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* PORTFOLIO MAIN! */

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.portfolio {
    background-color: var(--second-text);
}

.portfolio-title {
    display: none;
}

.button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    background-color: var(--section-team);
    color: var(--main-text);
    outline: none;
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--hover-text);
    color: var(--second-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons.link {
    margin: 0px;
    padding-bottom: 50px;
    padding-top: 94px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

.buttons.link:nth-last-child(n+1) {
    margin: 0px -8px;
}

.buttons {
    margin-left: 8px;
}

.buttons:first-child {
    margin-left: 0px;
}

/* projects */

.projects {
    display: none;
}

.project-name {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text);
}

.project-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--link-text);
    margin-top: 4px;
}

.project-list.link {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
    padding-bottom: 94px;
}

.project-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
}

.project-item:hover {
    background: #FFFFFF;
    outline: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-project-content {
    padding: 20px 24px;
    border-right: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-left: 1px solid rgba(238, 238, 238, 1);    
}

.card-project-thumb {
    position: relative;
    cursor: pointer;
}

.project-hover {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    width: 100%;
    height: 294px;
}

.project-hover-description {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;    
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--second-text);
    display: block;
    content: " ";
    padding: 63px 24px;
    max-width: 100%;
    height: 294px;
    position: absolute;
    opacity: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-hover:hover .project-hover-description {
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(0);
}

.card-project-thumb:hover .project-hover-description {
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(0);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
}

.modal {
    min-width: 528px;
    min-height: 581px;
    background-color: var(--second-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white-text);
    cursor: pointer;
    outline: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    fill: rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-button:hover .close-button {
    fill: var(--hover-text);
}

.modal-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1,15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text);
    padding-top: 40px;
    padding-bottom: 12px;
}

.modal-forms-all {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.form-name {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-name > label {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1,2;
    letter-spacing: 0.01em;
    color: var(--link-text);
    padding-bottom: 4px;
}

.form-name > input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

.form-name > input:focus {
    border: 1px solid var(--hover-text);
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-person {
    position: absolute;
    top: 65%;
    left: 15px;
    transform: translateY(-50%);
}

.form-name > input:focus ~ .icon-person {
    fill: var(--hover-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-tel {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    position: relative;
}

.form-tel > label {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1,2;
    letter-spacing: 0.01em;
    color: var(--link-text);
    padding-bottom: 4px;
}

.form-tel > input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

.form-tel > input:focus {
    border: 1px solid var(--hover-text);
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
    position: absolute;
    top: 70%;
    left: 15px;
    transform: translateY(-50%);
}

.form-tel > input:focus ~ .icon-phone {
    fill: var(--hover-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-mail {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    position: relative;
}

.form-mail > label {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1,2;
    letter-spacing: 0.01em;
    color: var(--link-text);
    padding-bottom: 4px;
}

.form-mail > input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

.form-mail > input:focus {
    border: 1px solid var(--hover-text);
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-email {
    position: absolute;
    top: 70%;
    left: 15px;
    transform: translateY(-50%);
}

.form-mail > input:focus ~ .icon-email {
    fill: var(--hover-text);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    position: relative;
}

.form-textarea > label {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1,2;
    letter-spacing: 0.01em;
    color: var(--link-text);
    padding-bottom: 4px;
}

.form-textarea > textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    color: var(--main-text);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
}

.form-textarea > textarea:focus {
    padding: 12px 16px;
    border: 1px solid var(--hover-text);
    outline: none;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea > textarea::-webkit-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
    padding-top: 20px;
    padding-left: 12px;
    position: relative;
}

.checkbox-label {
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.checkbox {
    display: inline-block;
    -webkit-appearance: none;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-text);
    border-radius: 2px;
    outline: none;
}

.icon-check {
    display: none;
    position: absolute;
    width: 16px;
    height: 15px;
    left: 12px;
    top: 20px;

}

.checkbox:checked {
    border: 2px solid var(--hover-text);
    border-radius: 2px;
    background-origin: border-box;
}

.checkbox:checked + .icon-check {
    outline: none;
    display: inline-block;
    background-color: var(--hover-text);
    background-origin: border-box;
    border-radius: 2px;
}

.checkbox-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 8px;
    vertical-align: top;
}

.checkbox-text-href {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--hover-text);
    vertical-align: top;
}

.button-send {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: solid 1px var(--hover-text);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 124px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--second-text);
    background-color: var(--hover-text);
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
   
.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 93px;
    margin-bottom: 94px;
    margin-top: 72px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-items {
    display: flex;
    padding-bottom: 10px;
}

.newsletter-input {
    padding: 0px;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    background-color: var(--section);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.newsletter-title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-text);
    padding-bottom: 20px;
}

.newsletter-button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: solid 1px var(--hover-text);
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--second-text);
    background-color: var(--hover-text);
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-newsletter-icon {
    margin-left: 10px;
}